/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(libs/jquery.bxslider.css);
@import url(globals/wp-styles.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative; }

.container--full {
  width: 94%;
  margin: 0 auto;
  position: relative; }

.container--l {
  width: 82%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative; }

.container--s {
  width: 82%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

@media only screen and (max-width: 1140px) {
  .container {
    width: 84%; } }
@media only screen and (max-width: 900px) {
  .container {
    width: 88%; } }
@media only screen and (max-width: 680px) {
  .container--full,
  .container {
    width: 90%; } }
.well {
  padding-top: 90px;
  padding-bottom: 90px; }

.well--xl {
  padding-top: 290px;
  padding-bottom: 290px; }

.well--l {
  padding-top: 180px;
  padding-bottom: 180px; }

.well--s {
  padding-top: 50px;
  padding-bottom: 50px; }

.pt--xl {
  padding-top: 290px; }

.pt--l {
  padding-top: 180px; }

.pt--s {
  padding-top: 50px; }

.pt--none {
  padding-top: 0; }

.pb--xl {
  padding-bottom: 290px; }

.pb--l {
  padding-bottom: 180px; }

.pb--s {
  padding-bottom: 50px; }

.pb--none {
  padding-bottom: 0; }

@media only screen and (max-width: 1440px) {
  .well {
    padding-top: 6%;
    padding-bottom: 6%; }

  .well--xl {
    padding-top: 18%;
    padding-bottom: 18%; }

  .well--l {
    padding-top: 12%;
    padding-bottom: 12%; }

  .well--s {
    padding-top: 3%;
    padding-bottom: 3%; }

  .pt--xl {
    padding-top: 18%; }

  .pt--l {
    padding-top: 12%; }

  .pt--s {
    padding-top: 3%; }

  .pb--xl {
    padding-bottom: 18%; }

  .pb--l {
    padding-bottom: 12%; }

  .pb--s {
    padding-bottom: 3%; } }
@media only screen and (max-width: 1024px) {
  .well {
    padding-top: 7.5%;
    padding-bottom: 7.5%; }

  .well--xl {
    padding-top: 20%;
    padding-bottom: 20%; }

  .well--l {
    padding-top: 15%;
    padding-bottom: 15%; }

  .well--s {
    padding-top: 3%;
    padding-bottom: 3%; }

  .pt--xl {
    padding-top: 20%; }

  .pt--l {
    padding-top: 15%; }

  .pt--s {
    padding-top: 3%; }

  .pb--xl {
    padding-bottom: 20%; }

  .pb--l {
    padding-bottom: 15%; }

  .pb--s {
    padding-bottom: 3%; } }
@media only screen and (max-width: 768px) {
  .well {
    padding-top: 9%;
    padding-bottom: 9%; }

  .well--xl {
    padding-top: 22%;
    padding-bottom: 22%; }

  .well--l {
    padding-top: 18%;
    padding-bottom: 18%; }

  .well--s {
    padding-top: 5%;
    padding-bottom: 5%; }

  .pt--xl {
    padding-top: 22%; }

  .pt--l {
    padding-top: 18%; }

  .pt--s {
    padding-top: 5%; }

  .pb--xl {
    padding-bottom: 22%; }

  .pb--l {
    padding-bottom: 18%; }

  .pb--s {
    padding-bottom: 5%; } }
@media only screen and (max-width: 520px) {
  .well {
    padding-top: 13%;
    padding-bottom: 13%; }

  .well--xl {
    padding-top: 27%;
    padding-bottom: 27%; }

  .well--l {
    padding-top: 21%;
    padding-bottom: 21%; }

  .well--s {
    padding-top: 8%;
    padding-bottom: 8%; }

  .pt--xl {
    padding-top: 27%; }

  .pt--l {
    padding-top: 21%; }

  .pt--s {
    padding-top: 8%; }

  .pb--xl {
    padding-bottom: 27%; }

  .pb--l {
    padding-bottom: 21%; }

  .pb--s {
    padding-bottom: 8%; } }
.gutter .span_2_of_2 {
  width: 100%; }
.gutter .span_1_of_2 {
  width: 49.2%; }
.gutter .span_3_of_3 {
  width: 100%; }
.gutter .span_2_of_3 {
  width: 66.13%; }
.gutter .span_1_of_3 {
  width: 32.26%; }
.gutter .span_4_of_4 {
  width: 100%; }
.gutter .span_3_of_4 {
  width: 74.6%; }
.gutter .span_2_of_4 {
  width: 49.2%; }
.gutter .span_1_of_4 {
  width: 23.8%; }
.gutter .span_5_of_5 {
  width: 100%; }
.gutter .span_4_of_5 {
  width: 79.67%; }
.gutter .span_3_of_5 {
  width: 59.36%; }
.gutter .span_2_of_5 {
  width: 39.04%; }
.gutter .span_1_of_5 {
  width: 18.72%; }
.gutter .span_6_of_6 {
  width: 100%; }
.gutter .span_5_of_6 {
  width: 83.06%; }
.gutter .span_4_of_6 {
  width: 66.13%; }
.gutter .span_3_of_6 {
  width: 49.2%; }
.gutter .span_2_of_6 {
  width: 32.26%; }
.gutter .span_1_of_6 {
  width: 15.33%; }
.gutter .span_7_of_7 {
  width: 100%; }
.gutter .span_6_of_7 {
  width: 85.48%; }
.gutter .span_5_of_7 {
  width: 70.97%; }
.gutter .span_4_of_7 {
  width: 56.45%; }
.gutter .span_3_of_7 {
  width: 41.94%; }
.gutter .span_2_of_7 {
  width: 27.42%; }
.gutter .span_1_of_7 {
  width: 12.91%; }
.gutter .span_8_of_8 {
  width: 100%; }
.gutter .span_7_of_8 {
  width: 87.3%; }
.gutter .span_6_of_8 {
  width: 74.59%; }
.gutter .span_5_of_8 {
  width: 61.9%; }
.gutter .span_4_of_8 {
  width: 49.2%; }
.gutter .span_3_of_8 {
  width: 36.5%; }
.gutter .span_2_of_8 {
  width: 23.8%; }
.gutter .span_1_of_8 {
  width: 11.1%; }
.gutter .span_9_of_9 {
  width: 100%; }
.gutter .span_8_of_9 {
  width: 88.71%; }
.gutter .span_7_of_9 {
  width: 77.42%; }
.gutter .span_6_of_9 {
  width: 66.13%; }
.gutter .span_5_of_9 {
  width: 54.84%; }
.gutter .span_4_of_9 {
  width: 43.55%; }
.gutter .span_3_of_9 {
  width: 32.26%; }
.gutter .span_2_of_9 {
  width: 20.97%; }
.gutter .span_1_of_9 {
  width: 9.68%; }
.gutter .span_10_of_10 {
  width: 100%; }
.gutter .span_9_of_10 {
  width: 89.83%; }
.gutter .span_8_of_10 {
  width: 79.67%; }
.gutter .span_7_of_10 {
  width: 69.51%; }
.gutter .span_6_of_10 {
  width: 59.35%; }
.gutter .span_5_of_10 {
  width: 49.2%; }
.gutter .span_4_of_10 {
  width: 39.03%; }
.gutter .span_3_of_10 {
  width: 28.87%; }
.gutter .span_2_of_10 {
  width: 18.72%; }
.gutter .span_1_of_10 {
  width: 8.55%; }
.gutter .span_11_of_11 {
  width: 100%; }
.gutter .span_10_of_11 {
  width: 90.76%; }
.gutter .span_9_of_11 {
  width: 81.52%; }
.gutter .span_8_of_11 {
  width: 72.29%; }
.gutter .span_7_of_11 {
  width: 63.05%; }
.gutter .span_6_of_11 {
  width: 53.81%; }
.gutter .span_5_of_11 {
  width: 44.58%; }
.gutter .span_4_of_11 {
  width: 35.34%; }
.gutter .span_3_of_11 {
  width: 26.1%; }
.gutter .span_2_of_11 {
  width: 16.87%; }
.gutter .span_1_of_11 {
  width: 7.63%; }
.gutter .span_12_of_12 {
  width: 100%; }
.gutter .span_11_of_12 {
  width: 91.53%; }
.gutter .span_10_of_12 {
  width: 83.06%; }
.gutter .span_9_of_12 {
  width: 74.6%; }
.gutter .span_8_of_12 {
  width: 66.13%; }
.gutter .span_7_of_12 {
  width: 57.66%; }
.gutter .span_6_of_12 {
  width: 49.2%; }
.gutter .span_5_of_12 {
  width: 40.73%; }
.gutter .span_4_of_12 {
  width: 32.26%; }
.gutter .span_3_of_12 {
  width: 23.8%; }
.gutter .span_2_of_12 {
  width: 15.33%; }
.gutter .span_1_of_12 {
  width: 6.86%; }
.gutter .col {
  margin-left: 1.6%;
  margin-bottom: 1.6%; }

.gutter--none .span_2_of_2 {
  width: 100%; }
.gutter--none .span_1_of_2 {
  width: 50%; }
.gutter--none .span_3_of_3 {
  width: 100%; }
.gutter--none .span_2_of_3 {
  width: 66.66%; }
.gutter--none .span_1_of_3 {
  width: 33.33%; }
.gutter--none .span_4_of_4 {
  width: 100%; }
.gutter--none .span_3_of_4 {
  width: 75%; }
.gutter--none .span_2_of_4 {
  width: 50%; }
.gutter--none .span_1_of_4 {
  width: 25%; }
.gutter--none .span_5_of_5 {
  width: 100%; }
.gutter--none .span_4_of_5 {
  width: 80%; }
.gutter--none .span_3_of_5 {
  width: 60%; }
.gutter--none .span_2_of_5 {
  width: 40%; }
.gutter--none .span_1_of_5 {
  width: 20%; }
.gutter--none .span_6_of_6 {
  width: 100%; }
.gutter--none .span_5_of_6 {
  width: 83.33%; }
.gutter--none .span_4_of_6 {
  width: 66.66%; }
.gutter--none .span_3_of_6 {
  width: 50%; }
.gutter--none .span_2_of_6 {
  width: 33.33%; }
.gutter--none .span_1_of_6 {
  width: 16.66%; }
.gutter--none .span_7_of_7 {
  width: 100%; }
.gutter--none .span_6_of_7 {
  width: 85.71%; }
.gutter--none .span_5_of_7 {
  width: 71.42%; }
.gutter--none .span_4_of_7 {
  width: 57.14%; }
.gutter--none .span_3_of_7 {
  width: 42.85%; }
.gutter--none .span_2_of_7 {
  width: 28.57%; }
.gutter--none .span_1_of_7 {
  width: 14.28%; }
.gutter--none .span_8_of_8 {
  width: 100%; }
.gutter--none .span_7_of_8 {
  width: 87.5%; }
.gutter--none .span_6_of_8 {
  width: 75%; }
.gutter--none .span_5_of_8 {
  width: 62.5%; }
.gutter--none .span_4_of_8 {
  width: 50%; }
.gutter--none .span_3_of_8 {
  width: 37.5%; }
.gutter--none .span_2_of_8 {
  width: 25%; }
.gutter--none .span_1_of_8 {
  width: 12.5%; }
.gutter--none .span_9_of_9 {
  width: 100%; }
.gutter--none .span_8_of_9 {
  width: 88.88%; }
.gutter--none .span_7_of_9 {
  width: 77.77%; }
.gutter--none .span_6_of_9 {
  width: 66.66%; }
.gutter--none .span_5_of_9 {
  width: 55.55%; }
.gutter--none .span_4_of_9 {
  width: 44.44%; }
.gutter--none .span_3_of_9 {
  width: 33.33%; }
.gutter--none .span_2_of_9 {
  width: 22.22%; }
.gutter--none .span_1_of_9 {
  width: 11.11%; }
.gutter--none .span_10_of_10 {
  width: 100%; }
.gutter--none .span_9_of_10 {
  width: 90%; }
.gutter--none .span_8_of_10 {
  width: 80%; }
.gutter--none .span_7_of_10 {
  width: 70%; }
.gutter--none .span_6_of_10 {
  width: 60%; }
.gutter--none .span_5_of_10 {
  width: 50%; }
.gutter--none .span_4_of_10 {
  width: 40%; }
.gutter--none .span_3_of_10 {
  width: 30%; }
.gutter--none .span_2_of_10 {
  width: 20%; }
.gutter--none .span_1_of_10 {
  width: 10%; }
.gutter--none .span_11_of_11 {
  width: 100%; }
.gutter--none .span_10_of_11 {
  width: 90.9%; }
.gutter--none .span_9_of_11 {
  width: 81.81%; }
.gutter--none .span_8_of_11 {
  width: 72.72%; }
.gutter--none .span_7_of_11 {
  width: 63.63%; }
.gutter--none .span_6_of_11 {
  width: 54.54%; }
.gutter--none .span_5_of_11 {
  width: 45.45%; }
.gutter--none .span_4_of_11 {
  width: 36.36%; }
.gutter--none .span_3_of_11 {
  width: 27.27%; }
.gutter--none .span_2_of_11 {
  width: 18.18%; }
.gutter--none .span_1_of_11 {
  width: 9.09%; }
.gutter--none .span_12_of_12 {
  width: 100%; }
.gutter--none .span_11_of_12 {
  width: 91.66%; }
.gutter--none .span_10_of_12 {
  width: 83.33%; }
.gutter--none .span_9_of_12 {
  width: 75%; }
.gutter--none .span_8_of_12 {
  width: 66.66%; }
.gutter--none .span_7_of_12 {
  width: 58.33%; }
.gutter--none .span_6_of_12 {
  width: 50%; }
.gutter--none .span_5_of_12 {
  width: 41.66%; }
.gutter--none .span_4_of_12 {
  width: 33.33%; }
.gutter--none .span_3_of_12 {
  width: 25%; }
.gutter--none .span_2_of_12 {
  width: 16.66%; }
.gutter--none .span_1_of_12 {
  width: 8.33%; }
.gutter--none .col {
  margin-left: 0;
  margin-bottom: 0%; }

.gutter--l .span_2_of_2 {
  width: 100%; }
.gutter--l .span_1_of_2 {
  width: 46.5%; }
.gutter--l .span_3_of_3 {
  width: 100%; }
.gutter--l .span_2_of_3 {
  width: 64.33%; }
.gutter--l .span_1_of_3 {
  width: 28.66%; }
.gutter--l .span_4_of_4 {
  width: 100%; }
.gutter--l .span_3_of_4 {
  width: 73.25%; }
.gutter--l .span_2_of_4 {
  width: 46.5%; }
.gutter--l .span_1_of_4 {
  width: 19.75%; }
.gutter--l .span_5_of_5 {
  width: 100%; }
.gutter--l .span_4_of_5 {
  width: 78.59%; }
.gutter--l .span_3_of_5 {
  width: 57.2%; }
.gutter--l .span_2_of_5 {
  width: 35.79%; }
.gutter--l .span_1_of_5 {
  width: 14.4%; }
.gutter--l .span_6_of_6 {
  width: 100%; }
.gutter--l .span_5_of_6 {
  width: 82.16%; }
.gutter--l .span_4_of_6 {
  width: 64.33%; }
.gutter--l .span_3_of_6 {
  width: 46.5%; }
.gutter--l .span_2_of_6 {
  width: 28.66%; }
.gutter--l .span_1_of_6 {
  width: 10.83%; }
.gutter--l .span_7_of_7 {
  width: 100%; }
.gutter--l .span_6_of_7 {
  width: 84.71%; }
.gutter--l .span_5_of_7 {
  width: 69.42%; }
.gutter--l .span_4_of_7 {
  width: 54.14%; }
.gutter--l .span_3_of_7 {
  width: 38.85%; }
.gutter--l .span_2_of_7 {
  width: 23.57%; }
.gutter--l .span_1_of_7 {
  width: 8.28%; }
.gutter--l .span_8_of_8 {
  width: 100%; }
.gutter--l .span_7_of_8 {
  width: 86.62%; }
.gutter--l .span_6_of_8 {
  width: 73.25%; }
.gutter--l .span_5_of_8 {
  width: 59.87%; }
.gutter--l .span_4_of_8 {
  width: 46.5%; }
.gutter--l .span_3_of_8 {
  width: 33.12%; }
.gutter--l .span_2_of_8 {
  width: 19.75%; }
.gutter--l .span_1_of_8 {
  width: 6.37%; }
.gutter--l .span_9_of_9 {
  width: 100%; }
.gutter--l .span_8_of_9 {
  width: 88.11%; }
.gutter--l .span_7_of_9 {
  width: 76.22%; }
.gutter--l .span_6_of_9 {
  width: 64.33%; }
.gutter--l .span_5_of_9 {
  width: 52.44%; }
.gutter--l .span_4_of_9 {
  width: 40.55%; }
.gutter--l .span_3_of_9 {
  width: 28.66%; }
.gutter--l .span_2_of_9 {
  width: 16.77%; }
.gutter--l .span_1_of_9 {
  width: 4.88%; }
.gutter--l .span_10_of_10 {
  width: 100%; }
.gutter--l .span_9_of_10 {
  width: 89.3%; }
.gutter--l .span_8_of_10 {
  width: 78.59%; }
.gutter--l .span_7_of_10 {
  width: 67.9%; }
.gutter--l .span_6_of_10 {
  width: 57.2%; }
.gutter--l .span_5_of_10 {
  width: 46.5%; }
.gutter--l .span_4_of_10 {
  width: 35.79%; }
.gutter--l .span_3_of_10 {
  width: 25.1%; }
.gutter--l .span_2_of_10 {
  width: 14.4%; }
.gutter--l .span_1_of_10 {
  width: 3.7%; }
.gutter--l .span_11_of_11 {
  width: 100%; }
.gutter--l .span_10_of_11 {
  width: 90.27%; }
.gutter--l .span_9_of_11 {
  width: 80.54%; }
.gutter--l .span_8_of_11 {
  width: 70.81%; }
.gutter--l .span_7_of_11 {
  width: 61.09%; }
.gutter--l .span_6_of_11 {
  width: 51.36%; }
.gutter--l .span_5_of_11 {
  width: 41.63%; }
.gutter--l .span_4_of_11 {
  width: 31.9%; }
.gutter--l .span_3_of_11 {
  width: 22.18%; }
.gutter--l .span_2_of_11 {
  width: 12.45%; }
.gutter--l .span_1_of_11 {
  width: 2.72%; }
.gutter--l .span_12_of_12 {
  width: 100%; }
.gutter--l .span_11_of_12 {
  width: 91.08%; }
.gutter--l .span_10_of_12 {
  width: 82.16%; }
.gutter--l .span_9_of_12 {
  width: 73.25%; }
.gutter--l .span_8_of_12 {
  width: 64.33%; }
.gutter--l .span_7_of_12 {
  width: 55.41%; }
.gutter--l .span_6_of_12 {
  width: 46.5%; }
.gutter--l .span_5_of_12 {
  width: 37.58%; }
.gutter--l .span_4_of_12 {
  width: 28.66%; }
.gutter--l .span_3_of_12 {
  width: 19.75%; }
.gutter--l .span_2_of_12 {
  width: 10.83%; }
.gutter--l .span_1_of_12 {
  width: 1.91%; }
.gutter--l .col {
  margin-left: 7%;
  margin-bottom: 7%; }

.grid-group {
  clear: both;
  padding: 0;
  margin: 0;
  zoom: 1;
  font-size: 0;
  zoom: 1;
  /* For IE 6/7 */ }
  .grid-group:before, .grid-group:after {
    content: "";
    display: table; }
  .grid-group:after {
    clear: both; }
  .grid-group.row_of_2 .col:nth-child(2n+1) {
    margin-left: 0; }
  .grid-group.row_of_3 .col:nth-child(3n+1) {
    margin-left: 0; }
  .grid-group.row_of_4 .col:nth-child(4n+1) {
    margin-left: 0; }
  .grid-group.row_of_5 .col:nth-child(5n+1) {
    margin-left: 0; }
  .grid-group.row_of_6 .col:nth-child(6n+1) {
    margin-left: 0; }

.col {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0; }
  .col:first-child {
    margin-left: 0; }

.card-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.card {
  padding: 0 6%; }
  .card .inner {
    padding: 12% 0; }

.flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .flex-group .flex {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .flex-group.flex-margin .flex {
    margin-left: 1.6%; }
  .flex-group.flex-margin--l .flex {
    margin-left: 7%; }
  .flex-group.flex-margin--none .flex {
    margin-left: 0%; }
  .flex-group.row_of_2 .flex {
    width: 50%; }
  .flex-group.row_of_2 .flex:nth-child(2n+1) {
    margin-left: 0; }
  .flex-group.row_of_3 .flex {
    width: 33.33%; }
  .flex-group.row_of_3 .flex:nth-child(3n+1) {
    margin-left: 0; }
  .flex-group.row_of_4 .flex {
    width: 25%; }
  .flex-group.row_of_4 .flex:nth-child(4n+1) {
    margin-left: 0; }
  .flex-group.row_of_5 .flex {
    width: 20%; }
  .flex-group.row_of_5 .flex:nth-child(5n+1) {
    margin-left: 0; }
  .flex-group.row_of_6 .flex {
    width: 16.66%; }
  .flex-group.row_of_6 .flex:nth-child(6n+1) {
    margin-left: 0; }

.bx-wrapper {
  margin-bottom: 0; }

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
  background: #fff;
  margin: 0 !important; }

.bx-viewport li {
  min-height: 1px;
  min-width: 1px; }

.vAlign {
  position: relative;
  visibility: hidden;
  /* <- needed to hide flash of non vertical aligned content before complete page load. */ }

.vAlign-abs {
  position: absolute;
  visibility: hidden;
  /* <- needed to hide flash of non vertical aligned content before complete page load. */ }

.hasHoverFade .bg-img, .btn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/*
USAGE EXAMPLE
.element {
	@extend %hoverTrans;

	&:hover {
		@include hoverFade(0.7);
	}
}
*/
.noWrap {
  white-space: nowrap; }

#mobile-menu-wrap #menu-icon .icon {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer; }

.hasOverlay .overlay, .hasHoverFade .bg-img, .hasHoverZoom .bg-img, .hasHoverZoomFade .bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hasHoverFade .bg-img, .hasHoverZoom .bg-img, .hasHoverZoomFade .bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.hasHoverFade .bg-img, .hasHoverZoom .bg-img, .hasHoverZoomFade .bg-img {
  background-position: center center; }

.isDarkGray {
  color: #fff;
  background-color: #353333; }

.isLightGray {
  color: #000;
  background-color: #f6f6f6; }

.isPrimary {
  color: #fff;
  background-color: #4ca2d6; }

.isSecondary {
  color: #000;
  background-color: #eed31e; }

.hasOverlay {
  position: relative;
  z-index: 1; }
  .hasOverlay .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2; }
    .hasOverlay .overlay.overlay--5 {
      background-color: rgba(0, 0, 0, 0.5); }
    .hasOverlay .overlay.overlay--75 {
      background-color: rgba(0, 0, 0, 0.75); }
  .hasOverlay .overlay-content {
    position: relative;
    z-index: 3;
    color: #fff; }
    .hasOverlay .overlay-content .inner {
      padding: 10%; }

.hasHoverFade {
  position: relative; }
  .hasHoverFade:hover .bg-img {
    opacity: 0.6; }

.hasHoverZoom {
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .hasHoverZoom .bg-img {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: -webkit-transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98);
    transition: -webkit-transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98);
    transition: transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98);
    transition: transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98), -webkit-transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98); }
  .hasHoverZoom:hover .bg-img {
    -webkit-transform: matrix(1.15, 0, 0, 1.15, 0, 0);
            transform: matrix(1.15, 0, 0, 1.15, 0, 0);
    -webkit-transition: -webkit-transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95);
    transition: -webkit-transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95);
    transition: transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95);
    transition: transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95), -webkit-transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95); }

.hasHoverZoomFade {
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .hasHoverZoomFade .bg-img {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: opacity 0.75s linear, -webkit-transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98);
    transition: opacity 0.75s linear, -webkit-transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98);
    transition: opacity 0.75s linear, transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98);
    transition: opacity 0.75s linear, transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98), -webkit-transform 750ms cubic-bezier(0.255, 0.285, 0.42, 0.98); }
  .hasHoverZoomFade:hover .bg-img {
    opacity: 0.6;
    -webkit-transform: matrix(1.15, 0, 0, 1.15, 0, 0);
            transform: matrix(1.15, 0, 0, 1.15, 0, 0);
    -webkit-transition: opacity 1.5s linear, -webkit-transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95);
    transition: opacity 1.5s linear, -webkit-transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95);
    transition: opacity 1.5s linear, transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95);
    transition: opacity 1.5s linear, transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95), -webkit-transform 6000ms cubic-bezier(0.235, 0.07, 0.67, 0.95); }

.wrapper, .container, .container--full, .container--l, .container--s, .gform_wrapper .gform_body,
.gform_wrapper .gform_body ul, .footer {
  *zoom: 1; }
  .wrapper:before, .container:before, .container--full:before, .container--l:before, .container--s:before, .gform_wrapper .gform_body:before,
  .gform_wrapper .gform_body ul:before, .footer:before, .wrapper:after, .container:after, .container--full:after, .container--l:after, .container--s:after, .gform_wrapper .gform_body:after,
  .gform_wrapper .gform_body ul:after, .footer:after {
    content: " ";
    display: table; }
  .wrapper:after, .container:after, .container--full:after, .container--l:after, .container--s:after, .gform_wrapper .gform_body:after,
  .gform_wrapper .gform_body ul:after, .footer:after {
    clear: both; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Montserrat", Helvetica, sans-serif;
  background: white;
  color: #444;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none !important; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  color: #4ca2d6;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

::-moz-selection {
  background: #4ca2d6;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #4ca2d6;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #4ca2d6;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #4ca2d6;
  color: #fff;
  text-shadow: none; }

input:focus {
  outline: 0;
  border: 1px solid #4ca2d6; }

.gform_wrapper {
  display: block !important; }
  .gform_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .gform_wrapper ul li {
      margin-bottom: 20px; }
      .gform_wrapper ul li input,
      .gform_wrapper ul li textarea {
        font-size: 20px;
        line-height: 20px;
        border-radius: 4px;
        padding: 10px 18px; }
        .gform_wrapper ul li input:focus,
        .gform_wrapper ul li textarea:focus {
          outline: none; }
      .gform_wrapper ul li textarea {
        width: 100%;
        padding: 12px 17px; }
  .gform_wrapper label.gfield_label {
    display: none; }

.center-btns {
  text-align: center; }

.btn {
  color: #fff;
  background-color: #000;
  font-size: 16px;
  padding: 12px 20px;
  display: inline-block; }
  .btn.btn--primary {
    background-color: #4ca2d6; }
  .btn.btn--secondary {
    background-color: #eed31e; }
  .btn.btn--tertiary {
    background-color: #f926a2; }
  .btn:hover {
    background-color: #1a1a1a; }
    .btn:hover.btn--primary {
      background-color: #75b8e0; }
    .btn:hover.btn--secondary {
      background-color: #f2dc4d; }
    .btn:hover.btn--tertiary {
      background-color: #fa58b7; }
  .btn.btn--ghost {
    color: #000;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #000; }
    .btn.btn--ghost.btn--primary {
      color: #4ca2d6;
      box-shadow: inset 0px 0px 0px 2px #4ca2d6; }
    .btn.btn--ghost.btn--secondary {
      color: #eed31e;
      box-shadow: inset 0px 0px 0px 2px #eed31e; }
    .btn.btn--ghost.btn--tertiary {
      color: #f926a2;
      box-shadow: inset 0px 0px 0px 2px #f926a2; }
    .btn.btn--ghost:hover {
      color: #fff;
      background-color: #000; }
      .btn.btn--ghost:hover.btn--primary {
        background-color: #4ca2d6; }
      .btn.btn--ghost:hover.btn--secondary {
        background-color: #eed31e; }
      .btn.btn--ghost:hover.btn--tertiary {
        background-color: #f926a2; }
  .btn.btn--l {
    font-size: 22px;
    padding: 20px 40px; }
  .btn.btn--s {
    font-size: 14px;
    padding: 8px 14px; }

.footer-copyright p {
  font-family: "Playfair Display", Times, Serif;
  font-size: 16px;
  line-height: 26px; }
.footer-copyright a {
  color: #fff; }
  .footer-copyright a:hover {
    color: #eed31e; }

.vAlign {
  position: relative;
  visibility: hidden;
  /* <- needed to hide flash of non vertical aligned content before complete page load. */ }
  .vAlign.vAlign-abs {
    position: absolute;
    visibility: hidden;
    /* <- needed to hide flash of non vertical aligned content before complete page load. */ }

#mobile-menu-wrap {
  display: none; }
  #mobile-menu-wrap #menu-icon {
    background: transparent;
    padding: 14px 0 0;
    cursor: pointer;
    display: block;
    /* show menu icon */
    text-align: center;
    color: #444;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 98;
    vertical-align: top;
    color: #fff; }
    #mobile-menu-wrap #menu-icon .icon {
      background: url(../img/menu-icon.png) no-repeat;
      background-size: 40px 160px;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: -2px 0 0 8px; }
  #mobile-menu-wrap ul.menu {
    padding-bottom: 12px; }

@media only screen and (max-width: 800px) {
  #desktop-menu-wrap {
    display: none; }

  #mobile-menu-wrap {
    position: relative;
    display: block; }

  #mobile-menu {
    display: none; } }
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=site.css.map */