@function decimal-round ($number, $digits: 0, $mode: round) {
	$n: 1;
	// $number must be a number
	@if type-of($number) != number {
		@warn '#{ $number } is not a number.';
		@return $number;
	}
	// $digits must be a unitless number
	@if type-of($digits) != number {
		@warn '#{ $digits } is not a number.';
		@return $number;
	} @else if not unitless($digits) {
		@warn '#{ $digits } has a unit.';
		@return $number;
	}
	@for $i from 1 through $digits {
		$n: $n * 10;
	}
	@if $mode == round {
		@return round($number * $n) / $n;
	} @else if $mode == ceil {
		@return ceil($number * $n) / $n;
	} @else if $mode == floor {
		@return floor($number * $n) / $n;
	} @else {
		@warn '#{ $mode } is undefined keyword.';
		@return $number;
	}
}

@function decimal-ceil ($number, $digits: 0) {
	@return decimal-round($number, $digits, ceil);
}

@function decimal-floor ($number, $digits: 0) {
	@return decimal-round($number, $digits, floor);
}



$baseFS: 16px;  // <-- Change this if needed

// Change the gutter values based on grid designs
$gutterBase: 1.6%;
$gutterNone: 0%;
$gutterLarge: 7%;


.gutter {
	$gutter: $gutterBase;

	@for $cols from 2 through 12 {
		$span: $cols;
		@while $span > 0 {
			@if ($span == $cols) {
				.span_#{$span}_of_#{$cols} { width: 100%; }
			} @else {
				.span_#{$span}_of_#{$cols} { width: decimal-round( (((100 - ($gutter * ($cols - 1))) / $cols) * $span) + (($span - 1) * $gutter) , 2, 'floor'); }
			}
			$span: $span - 1;
		}
	}

	.col {
		margin-left: $gutter;
		margin-bottom: $gutter;
	}
}

.gutter--none {
	$gutter: $gutterNone;

	@for $cols from 2 through 12 {
		$span: $cols;
		@while $span > 0 {
			@if ($span == $cols) {
				.span_#{$span}_of_#{$cols} { width: 100%; }
			} @else {
				.span_#{$span}_of_#{$cols} { width: decimal-round((100 * $span/$cols), 2, 'floor') * 1%; }
			}
			$span: $span - 1;
		}
	}

	.col {
		margin-left: 0;
		margin-bottom: $gutter;
	}
}

.gutter--l {
	$gutter: $gutterLarge;

	@for $cols from 2 through 12 {
		$span: $cols;
		@while $span > 0 {
			@if ($span == $cols) {
				.span_#{$span}_of_#{$cols} { width: 100%; }
			} @else {
				.span_#{$span}_of_#{$cols} { width: decimal-round( (((100 - ($gutter * ($cols - 1))) / $cols) * $span) + (($span - 1) * $gutter) , 2, 'floor'); }
			}
			$span: $span - 1;
		}
	}

	.col {
		margin-left: $gutter;
		margin-bottom: $gutter;
	}
}



.grid-group {
	clear: both;
	padding: 0;
	margin: 0;
	zoom: 1;
	font-size: 0;
	zoom:1; /* For IE 6/7 */

	&:before,
	&:after { content:""; display:table; }
	&:after { clear:both;}

	&.row_of_2 .col:nth-child(2n+1) {
		margin-left: 0;
	}
	&.row_of_3 .col:nth-child(3n+1) {
		margin-left: 0;
	}
	&.row_of_4 .col:nth-child(4n+1) {
		margin-left: 0;
	}
	&.row_of_5 .col:nth-child(5n+1) {
		margin-left: 0;
	}
	&.row_of_6 .col:nth-child(6n+1) {
		margin-left: 0;
	}
}

.col {
	font-size: $baseFS;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;

	&:first-child {
		margin-left: 0;
	}
}

// For responsive re-structuring, refer to: http://www.responsivegridsystem.com/going-further/
