// COLOR VARIABLES = = = = = = =

$primary: #4ca2d6;		// Primary is Blue
$secondary: #eed31e;		// Secondary is Yellow
$tertiary: #f926a2;		// Tertiary is Magenta (pink)

// darkening code
// @link-hover-color: darken(@link-color, 15%);


$lightGray: #f6f6f6;
$medLtGray: #d7d7d7;
$medGray: #777777;
$medDkGray: #555555;
$darkGray: #353333;

$white: #fff;
$black: #000;

$test: #62e920;		// Test is a bright green just for testing purposes


// FONT VARIABLES = = = = = = =

$sans: 'Montserrat', Helvetica, sans-serif;		// Montserrat has weights of 400 & 700
$sansAlt: 'Lato', Helvetica, sans-serif;			// Lato has weights of 100, 300, & 400
$serif: 'Playfair Display', Times, Serif;			// Playfair Display has normal (400) weight with italic option


%sans {
	font-family: $sans;
	font-weight: 400;
}
%sansIt {
	@extend %sans;
	font-style: italic;
}
%sansB {
	@extend %sans;
	font-weight: 700;
}


%serif {
	font-family: $serif;
	font-weight: 400;
}
%serifB {
	@extend %serif;
	font-weight: 700;
}