* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: $base-font-size;
  height: 100%;
}
body {
  @extend %sans;
  background: $black;
  color: $white;
  font-size: $base-font-size;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-touch-callout: none !important;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  color: $darkGray;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    color: $white;
    outline: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %sans;
}
