.footer {
	@extend %clear;
}

.footer-copyright {
	
}


// FOOTER TYPOGRAPHY = = = = = = =

.footer-copyright {

	p {
		font-family: $serif;
		font-size: 16px;
		line-height: 26px;
	}

	a {
		color: $white;

		&:hover {
			color: $secondary;
		}
	}
}


// FOOTER BREAKPOINTS = = = = = = =

