$primary: #4ca2d6;		// Primary is Blue
$secondary: #eed31e;	// Secondary is Yellow
$tertiary: #f926a2;		// Tertiary is Magenta (pink)

$beige: #b8b79a;

$lightGray: #f6f6f6;
$medLtGray: #d7d7d7;
$medDkGray: #777777;
$darkGray: #353333;

$white: #fff;
$black: #000;

$test: #62e920;		// Test is a bright green just for testing purposes


$sans: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;  // Gotham has weights of 200, 300, 400, 500, 700, 800
$serif: "Courier New", "Times New Roman", Serif;  // Courier New has weights of "normal" and "bold"