.about-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  .about-content-container {
    p {
      font-size: 2rem;
      line-height: 1.9;
      padding: 0 4vw;
      text-align: center;
    }
    .social-media-links-container {
      display: flex;
      justify-content: center;
      margin-top: 6rem;
      .social-media-item {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0vw 3vw;
        .social-media-label {
          font-size: .65rem;
          letter-spacing: 0;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }
        a {
          font-size: .9rem;
          letter-spacing: 0;
        }
      }
    }
  }
}
