.project-section {
  .project-banner-container {
    margin-bottom: 12vw;
    padding-top: 15vh;
    @include screen-size(lg) {
      align-items: center;
      display: flex;
      float: left;
      padding-top: 38vh;
      transform: translate(14.5%);
    }
    .project-banner-image {
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      height: 60vh;
      width: 100vw;
      @include screen-size(lg) {
        width: 50vw;
      }
    }
  }
  .project-header-container {
    border-bottom: 1px solid $darkGray;
    margin: 0 auto;
    width: 90vw;
    @include screen-size(lg) {
      margin: 0;
      transform: translate(30.5%);
      width: 73vw;
    }
    .project-title {
      margin-bottom: 3vw;
      @include screen-size(md) {
        margin-bottom: 2vw;
      }
      @include screen-size(lg) {
        font-size: 2.75vw;
        letter-spacing: -2px;
        margin-bottom: 1vw;
      }
      &::before {
        content: "/";
        letter-spacing: .25vw;
      }
    }
    .project-category {
      color: $darkGray;
      float: right;
      margin-top: -12vw;
      @include screen-size(sm) {
        margin-top: -9vw;
      }
      @include screen-size(md) {
        margin-top: -6vw;
      }
      @include screen-size(lg) {
        margin-top: -3.5vw;
      }
    }
  }
  .project-meta-info {
    margin: 4vw auto 7vw;
    width: 90vw;
    @include screen-size(lg) {
      display: flex;
      justify-content: space-between;
      margin: 4vw 0 7vw;
      transform: translate(110%);
      width: 43vw;
    }
    .project-meta-item {
      margin-bottom: 3rem;
      @include screen-size(lg) {
        margin-bottom: 0;
      }
      .project-meta-title {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        @include screen-size(lg) {
          font-size: .75rem;
        }
      }
      .project-meta-entry {
        font-weight: 600;
      }
    }
  }
  .project-summary-container {
    margin: 0 auto 7vw;
    width: 90vw;
    @include screen-size(lg) {
      margin: 0 0 7vw;
      transform: translate(30.5%);
      width: 73vw;
    }
    .project-summary {
      p {
        margin-bottom: 1rem;
      }
    }
  }
  .project-screenshots-1 {
    text-align: center;
    @include screen-size(lg) {
      text-align: left;
      transform: translate(22%);
    }
    .project-background-image-top {
      background-size: cover !important;
      width: 100vw;
      @include screen-size(lg) {
        width: 78vw;
      }
    }
    .project-screenshot {
      margin-top: 6vw;
      width: 56vw;
    }
  }
  .project-screenshots-2 {
    margin-bottom: 6vw;
    text-align: center;
    .project-background-image-lower {
      background-size: cover !important;
      height: 100%;
      width: 100%;
    }
    .project-screenshot {
      margin-top: 6vw;
      width: 56vw;
    }
  }
}
