.projects-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  .project-container {
    margin-bottom: 25rem;
    text-align: center;
    &:first-child {
      margin-top: -13vw;
    }
    .project-thumbnail {
      height: auto;
      transform: translateY(50%);
      width: 40%;
    }
    .project-title {
      @extend %sans;
      color: $white;
      font-size: 7vw;
      letter-spacing: -2px;
      text-align: center;
      transform: translateY(-50%);
      &::before {
        content: "/";
        letter-spacing: .75vw;
      }
    }
  }
}
