.center-btns {
   text-align: center;
}

.btn {
   color: $white;
   background-color: $black;
   font-size: 16px;
   padding: 12px 20px;
   display: inline-block;
   @extend %hoverTrans;

   &.btn--primary {
      background-color: $primary;
   }

   &.btn--secondary {
      background-color: $secondary;
   }

   &.btn--tertiary {
      background-color: $tertiary;
   }

   &:hover {
      background-color: lighten($black, 10%);

      &.btn--primary {
         background-color: lighten($primary, 10%);
      }

      &.btn--secondary {
         background-color: lighten($secondary, 10%);
      }

      &.btn--tertiary {
         background-color: lighten($tertiary, 10%);
      }
   }


   &.btn--ghost {
      color: $black;
      background-color: transparent;
      box-shadow: inset 0px 0px 0px 2px $black;

      &.btn--primary {
         color: $primary;
         box-shadow: inset 0px 0px 0px 2px $primary;
      }

      &.btn--secondary {
         color: $secondary;
         box-shadow: inset 0px 0px 0px 2px $secondary;
      }

      &.btn--tertiary {
         color: $tertiary;
         box-shadow: inset 0px 0px 0px 2px $tertiary;
      }

      &:hover {
         color: $white;
         background-color: $black;

         &.btn--primary {
            background-color: $primary;
         }

         &.btn--secondary {
            background-color: $secondary;
         }

         &.btn--tertiary {
            background-color: $tertiary;
         }
      }
   }


   &.btn--l {
      font-size: 22px;
      padding: 20px 40px;
   }

   &.btn--s {
      font-size: 14px;
      padding: 8px 14px;
   }
}