.pattern-test-grid {
	background: darkgray;
	padding: 20px;

	.col {
		background: gray;
		height: 20px;
		box-shadow: inset 0 0 1px black;
	}
}

.pattern-section-heading {
	font-size: 2em;
	text-transform: uppercase;
	opacity: 0.5;
	margin-left: -1em;
	margin-bottom: 30px;
}

.pattern-section-sub-heading {
	font-size: 1em;
	margin-bottom: 10px;
}
