.footer {
	@extend %clear;
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.25rem;
	.footer-item {
		flex-grow: 1;
	}
	.developer-container {
		padding-left: 6vw;
		text-align: left;
	}
	.contact-container {
		text-align: center;
	}
	.misc-container {
		padding-right: 6vw;
		text-align: right;
	}
}

.home {
	.footer {
		
	}
}

.about {
	.footer {
		margin-top: -10rem;
	}
}
