.header {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  padding: 9vh 5.5vw 0 5.5vw;
  position: fixed;
  width: 100%;
  z-index: 2;
  a {
    font-size: 1.25rem;
  }
  .site-name {
    color: $white;
  }
}
